{% load static %}
<head>
	<style>
		input[type=submit]{
			background-color: #4CAF50; /* Green */
			border: none;
			color: white;
			padding: 15px 32px;
			text-align: center;
			text-decoration: none;
			display: inline-block;
			font-size: 16px;
			cursor: pointer;
		}
	</style>
</head>

<link rel="stylesheet" type="text/css" href="{% static 'expertsystem/style.css' %}">

<div align="center">
	<br>
	<h1>Find your dream holiday destination!</h1>
	<br>
</div>

<form action="{% url 'expertsystem:detail' next_question.id  %}" method="post">
{% csrf_token %}
{% if question %}
<ul>
    <li>{{ question.question_text }}</li>
    {% if question.choice_set.count > 3 %}
    	{% for choice in question.choice_set.all %}
		<input type="checkbox" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.choice_text }}">
		<label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
	{% endfor %}
    {% else %}
    	{% for choice in question.choice_set.all %}
		<input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.choice_text }}">
		<label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
	{% endfor %}
    {% endif %}
	<br>
</ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
<ul><input type="submit" value="Next"></ul>
</form>
